#container
  %h1 Edit Existing Movie

  = form_tag movie_path(@movie), :method => :put do
    %div.row
      %div.col-md-4
        = label :movie, :title, 'Title'
      %div.col-md-4
        = text_field :movie, 'title'
    %div.row
      %div.col-md-4
        = label :movie, :rating, 'Rating'
      %div.col-md-4
        = select :movie, :rating, ['G','PG','PG-13','R','NC-17']
    %div.row
      %div.col-md-4
        = label :movie, :release_date, 'Released On'
      %div.col-md-4
        = date_select :movie, :release_date, :start_year => 1930, :end_year => Date.today.year + 5
    %div.row
      %div.col-md-4
        = label :movie, :description, 'Description'
      %div.col-md-4
        = text_area :movie, :description
    %div.row
      %div.col-md-2
        = submit_tag 'Update Movie Info', :class => 'btn btn-success'
      %div.col-md-2
      = link_to 'Cancel', movie_path(@movie), :class => 'btn btn-danger'
